body {
  margin: 0;
  padding: 0;
    
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;

  background-image: url("../img/bg.jpg");
  background-position: center top;
  background-color: #000;
  background-repeat: no-repeat;
  min-width: 960px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;

  margin-right: 16px;

  padding: 10px 30px;
  
  background-color: #000;
  font: inherit;
  color: #fff;

  border: none;
  text-transform: uppercase;
}

.button:hover {
  background: #663d15;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 65px;
}

.main-header a {
  text-decoration: none;
  color: #fff;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-logo {
  order: 1;
}

.main-navigation-wrapper {
  width: 100%;
  background-color: #000;
  margin-bottom: 60px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 620px;
  display: flex;
  flex-wrap: wrap;
}

.user-navigation {
  max-width: 140px;
} 
  
.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background: #242424;
}

.login-link::before {
  content: "";

  position: absolute;

  top: 27px;
  left: 24px;
  
  width: 16px;
  height: 18px;

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;

  opacity: 0.3;
}

.login-link:hover::before {
  opacity: 1;
}
  
/* Для IE11 */
main {
  display: block;
}

.features {
  margin-bottom: 64px;
}

.features-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features li {
  width: 300px;
  text-align: center;
}

.features h3 {
  position: relative;
  
  font-size: 30px;
  line-height: 42px;

  margin: 0;
  margin-bottom: 60px;
}

.features h3::after {
  content: "";
  
  position: absolute;

  width: 20px;
  height: 20px;

  bottom: -30px;
  left: 50%;
  margin-left: -10px;
  background-color: #fff;

  transform: rotate(45deg);
}

.feature-item p {
  padding: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  min-height: 319px;
  background-color: #f8f5f2;
  background-image: url("../img/divider_shadow.png"),
    url("../img/pattern-light.png");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
  color: #000;
  padding: 45px 80px;
  padding-bottom: 50px;
  margin-bottom: 36px;
}

.news {
  width: 380px;
}

.news h2 {
  font-size: 30px;
  line-height: 42px;    
  margin: 0;
  margin-bottom: 20px;
}

.news ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.news-item {
  margin-bottom: 22px;
}

.news-item:last-child {
  margin-bottom: 28px;
}

.news-item p {
  margin: 0;
}

.news time {
  text-transform: none;
}

.news .button {
  width: 76px;
  padding-left:34px;
}

.gallery {
  width: 300px;
}

.gallery h2 {
  font-size: 30px;
  line-height: 42px;        
  margin: 0;
  margin-bottom: 22px;
}

.gallery-container {
  position: relative;

  height: 260px;
}

.gallery-content {
  margin: 0;
  height: 164px;
  border: 7px solid #fff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 140px;
  margin-right: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.index-columns:last-child {
  min-height: 335px;
  padding-bottom: 48px;
}

.contacts h2,
.appointment h2 {
  font-size: 30px;
  line-height: 42px;    
  margin: 0;
  margin-bottom: 20px;
} 

.contacts {
  width: 380px;    
}

.contacts a {
  color: #fff;
  text-decoration: none;
}

.contacts p {
  margin: 0;
  margin-bottom: 20px;
}

.appointment {
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 10px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 7px;
  margin-left: 19px;
}

.appointment-item input {
  box-sizing: border-box;
  width: 140px;
  font: inherit;
  background: transparent;
  border: 2px solid #000;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 7px;
}

.appointment-item input:focus {
  border-color: #663d15;
  outline: none;
}

.appointment .button {
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;

  background: #222222 url("../img/pattern-dark.png");
}

.main-footer .container {
  display: flex;
}

.main-footer .footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px; 
}

.main-footer .footer-contacts a {
  color: #fff;    
  text-decoration: underline;
}

.main-footer .footer-social {
  width: 141px;
  margin-right: 260px; 
  text-align: center;
}

.footer-social b {
  display: block;
  margin-bottom: 13px;
}

.main-footer .footer-social ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin: 0 auto;  
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #000;
}

.social-btn:hover {
  background-color: #fff;
}

.social-btn:hover path {
  fill: #000;
}

.main-footer .footer-copyright {
  width: 140px;
  margin: 0;
  text-align: center;
}

.footer-copyright b {
  display: block;
  margin-bottom: 13px;
}

.footer-copyright .button {
  padding: 0;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-copyright .button:hover {
  color: #000;
  background-color: #fff;  
}

/* 
***Страница каталога**********************************************************
*/

.inner-page {
  background-color: #f9f6f3;
  background-image: url("img\pattern-light.png");
  color: #000;
}

.inner-page .main-header {
  margin-bottom: 60px;
}

.inner-page .main-navigation {
  flex-direction: row;
}

.inner-page .main-header-logo {
  order: 0;
}

.inner-page .main-header {
  background-color: #000;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.inner-page h1 {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  margin-bottom: 27px;
}

.breadcrumbs ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 60px;
}

.breadcrumbs a {
  color: #000;
}

.breadcrumbs .current-page {
  color: #aba9a7;
}

.breadcrumbs li {
  margin-right: 40px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

legend {
  font-size: 24px;
  margin-bottom: 32px;
}

fieldset ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: outside;
}

fieldset  li {
  margin-bottom: 15px;
}

.catalog {
  width: 700px;
}

.catalog > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 600px;  
  align-content: space-between;
  margin-bottom: 45px;
}

.gallery-item {
  width: 220px;
  height: 286px;  
  background-color: #fff;  
  box-shadow: 0 0 10px #dddad8;
}

.item-name, 
.item-brand {
  margin: 0;
  margin-left: 15px;
}

.item-name {
  text-transform: none;
  /* margin-top: 15px; */
}

.item-price {
  display: inline-block;
  background-color: #e5e5e5;
  vertical-align: top;
  margin: 0;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 37px; */
  /* padding-right: 33px; */
  width: 109px;
  text-align: center;
}

.gallery-item .button {
  margin-right: 0;
  margin-left: -3px;
  padding-left: 19px;
  padding-right: 17px;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.pagination a {
  display: inline-block;
  width: 43px;
  /* height: 43px; */
  text-align: center;
  color: #fff;
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 9px;
  margin-right: 7px;
}

.pagination .current a {
  background-color: #fff;
  color: #000;
}

.inner-page .main-footer {
  color: #fff;
}

/* 
*** Страница карточки товара ***************************************************************
*/

.item-columns {
  display: flex;
  justify-content: space-between;
}

.images {
  width: 460px;
}

.small-pics {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.description {
  width: 400px;
  margin-top: 20px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.description .first-line,
.description .text {
  margin: 0;
  padding: 0;  
}

.description .text {
  margin-bottom: 65px;
}

.description .item-price {
  margin-left: 0;
}

.description h2 {
  margin: 0;
  margin-top: 65px;
}

.description ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

.description li {
  margin-bottom: 10px;
}

/* 
***Страница прайс-лист
*/

.slogan {
  margin: 0;
  font-size: 48px;
  line-height: normal;
  margin-bottom: 75px;
}

.first-price-columns,
.second-price-columns {
  display: flex;
  justify-content: space-between;
}

.first-price-columns {
  margin-bottom: 70px;
}

.left-column {
  width: 390px;
}

.right-column {
  width: 460px;
}

.second-price-columns .right-column p {
  width: 380px;
}

h2.price-list {
  margin: 0;
  font-size: 24px;
  margin-bottom: 40px;
}

.first-price-columns ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.first-price-columns li {
  margin-bottom: 25px;
}

.first-price-columns li:last-child {
  margin-bottom: 0;
}

table {
  /* border: solid 2px; */
  border-collapse: collapse;
}

td {
  border: solid 2px;
  width: 230px;
  height: 40px;
}

td:first-child {
  padding-left: 20px;
}

td:last-child {
  text-align: center;
}